// 支持文件
@import "../../assets/scss/support";

.news {
	padding: 10px 5px 20px;
	.news__inner {
		.news__title {
			font-size: 24px;
			display: block;
			width: 100%;
			text-align: left;
			float: left;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
	}
	.news-image {
		width: 100%;
		display: block;
	}

	.good_item{
		margin: 10px;
	}
	.red-color{
		display: block;
		color: red;
		margin: 4px;
	}
	.example3_img{
		height: 800px;
	}
	.example4_img{
		height: 1600px;
	}
}
