/**
 * ------------------------------------------------------------------
 * Sass 变量
 *
 * ------------------------------------------------------------------
 *
 * @author  Fizz
 * @data    2018年5月30日13:58:05
 */

// Margin
$marginTopSmaller: 10px;
$marginTopSmall: 15px;
$marginTopMedium: 20px;
$marginTopLarge: 30px;
$marginTopLarger: 40px;

// Padding
$paddingTopSmaller: 10px;
$paddingTopSmall: 15px;
$paddingTopMedium: 20px;
$paddingTopLarge: 30px;
$paddingTopLarger: 40px;

// Color
$colorBlue: #20A0FF;
$colorGreen: #13CE66;
$colorGray: #475669;
$colorBlack: #000;
$colorRed: #C53300;
$colorYellow: #F7BA2A;

// 创客宝颜色搭配
$color: #2B2B2B;  // 字体颜色
$colorLink: #F1F1F1; // 线条颜色
$backGroundColor: #FFFFFF; // 背景颜色


// Font
$fontSize: 16px;
$fontSizeSmall: 14px;
$fontSizeSmaller: 12px;
$fontSizeLarge: 18px;
$fontSizeLarger: 22px;

