/**
 * ------------------------------------------------------------------
 * Sass 变量
 *
 * ------------------------------------------------------------------
 *
 * @author  Fizz
 * @data    2018年5月30日13:58:05
 */

// Margin
$marginTopSmaller: 10px;
$marginTopSmall: 15px;
$marginTopMedium: 20px;
$marginTopLarge: 30px;
$marginTopLarger: 40px;

// Padding
$paddingTopSmaller: 10px;
$paddingTopSmall: 15px;
$paddingTopMedium: 20px;
$paddingTopLarge: 30px;
$paddingTopLarger: 40px;

// Color
$colorBlue: #20A0FF;
$colorGreen: #13CE66;
$colorGray: #475669;
$colorBlack: #000;
$colorRed: #f00;
$colorYellow: #F7BA2A;

// 神秘岛主色调
$color: #CE790E;  // 字体颜色
$colorLink: #FFFDD6; // 线条颜色
$backGroundColor: #0F3A4B; // 背景颜色
// #0F3A4B #65333F #5D0F05 #CE790E  #FFFDD6

// Font
$fontSize: 16px;
$fontSizeSmall: 14px;
$fontSizeSmaller: 12px;
$fontSizeLarge: 18px;
$fontSizeLarger: 22px;

