// 支持文件
@import "../../assets/scss/support";

.index {
	.index_btn {
		display: block;
		margin-top: 20px;
		border: 1px solid $colorLink;
		color: $color;
		width: 50%;
	}
	.index_btn_hover {
		width: 50%;
	}
	.swiper-container {
		position: relative;
	}
	.swiper_box {
		height: 200px;
		white-space: nowrap;
		width: 100%;
		image {
			width: 100%;
			display: block;
		}
	}
	.swiper-container .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
		display: flex;
		justify-content: center;
	}
	.swiper-container .dots .dot {
		margin: 0 8px;
		width: 7px;
		height: 7px;
		background: #fff;
		border-radius: 50%;
		transition: all .6s;
		opacity: .5;
	}
	.swiper-container .dots .dot.active {
		width: 7px;
		opacity: 1;
	}
	.menu-ul {
		height: 97px;
		border-bottom: 2px solid #ddd;
		width: 100%;
		.menu-item {
			float: left;
			width: 25%;
			height: 100%;
			text-align: center;
			margin: 0 auto;
			padding-top: 18px;
			image {
				height: 42px;
				width: 42px;
				display: block;
				margin: 0 auto;
			}
			text {
				font-size: 14px;
				display: inline-block;
				margin: 0 auto;
			}
		}
	}
	.panel-title {
		float: left;
		display: block;
		width: 100%;
		font-size: 14px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
	.myVideo {
		display: block;
		margin: 0px auto 20px;
		width: 90%;
	}
	.gsdt {
		width: 100%;
		display: block;
		padding-top: 10px;
		border-top: 2px solid #ddd;
	}

	// 新闻列表
	.news-box {
		margin-bottom: 10px;
		padding: 0 30px;
		display: flex;
		align-items: center;
		.news_img {
			display: block;
			width: 80px;
			height: 80px;
			margin-right: 5px;
			margin-left: -15px;
		}
		.news_wrap {
			flex-shrink: 100;
			margin-bottom: 37px;
			.news_title {
				font-size: 17px;
			}
		}

	}

	.demo-text-1 {
		position: relative;
		align-items: center;
		justify-content: center;
		background-color: #1AAD19;
		color: #FFFFFF;
		font-size: 18px;
	}
	.page-section-spacing {
		margin-top: 30px;
	}
	.scroll-view_H {
		white-space: nowrap;
	}
	.scroll-view-item {
		height: 150px;
	}
	.scroll-view-item_H {
		display: inline-block;
		width: 100%;
		height: 200px;
	}
}
