// 支持文件
@import "../../assets/scss/support";

.about_us {
	padding: 10px;
	text-indent: 10px;
	.gywm {
		display: block;
		padding: 10px;
		font-size: 20px;
		border-bottom: 2px solid #ddd;
		margin-top: 20px;
	}
	.zw {
		display: block;
	}
	.last-modify{
		color: green;
		display: block;
	}
	.company_img{
		height: 600px;
	}

}

