// 支持文件
@import "../../assets/scss/support";

.phone {
	.company_img {
		width: 100%;
	}
	.company_info {
		padding: 5px;
	}
	.row {
		width: 100%;
		border-bottom: 2px solid #ddd;
		float: left;
		.label {
			display: block;
			width: 25%;
			padding: 10px 0;
			text-align: right;
			float: left;
		}
		.detail {
			float: left;
			display: block;
			width: 70%;
			padding: 10px 0;
			text-align: center;
		}
	}

}
