// 支持文件
@import "../../assets/scss/support";

.index {
	.index_btn {
		display: block;
		margin-top: 20px;
		border: 1px solid $colorLink;
		color: $color;
		width: 50%;
	}
	.index_btn_hover {
		width: 50%;
	}
}
