// 支持文件
@import "../../assets/scss/support";

.about_us {
	.introduce {
		padding: 10px;
		.introduce_title {
			display: block;
			font-size: 20px;
			text-align: left;
			font-weight: 600;
		}
		.introduce_content {
			font-size: 16px;
			text-align: left;
			font-weight: 600;
			text-indent: 5px;
		}
	}
}
